<div class="track-options">
    
    <div class="track-options-modal" (click)="onClose()">

        <div class="track-options-header">
            <h3 class="track-options-title">{{ trackName || 'Track Options' }}</h3>
            <h4 class="track-options-artist">{{ trackArtist || 'Unknown Artist' }}</h4>
        </div>
        <div class="track-options-body">
            <nav class="track-options-nav">
                <ul class="track-options-list">
                    <li>
                        <button class="btn btn-track-option" (click)="onOptionClick('playlist')">
                            <img src="/svg/icon-playlist-add.svg" alt="Add to Playlist">
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-track-option" (click)="onOptionClick('favorites')">
                            <img src="/svg/icon-star-outline.svg" alt="Add to Favorites">

                        </button>
                    </li>
                    <li>
                        <button class="btn btn-track-option" (click)="onOptionClick('share')">
                            <img src="/svg/icon-share.svg" alt="Share Track">
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-track-option" (click)="onOptionClick('info')">
                            <img src="/svg/icon-info.svg" alt="Track Info">
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <br/>
    <br>
    <div class="track-options-nav">
        <button class="track-options-close" (click)="onClose()">
            <img src="/svg/icon-close.svg" alt="Close">
        </button>
    </div>
</div>