.track-options {
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
.track-options-list {
    list-style-type: none;
    margin:0;
    padding:0;
}

.btn-track-option,
.track-options-close {
    background:none;
    border:none;
    color: var(--text-color);
}