# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
/node_modules

/ngCLient/node_modules

# Compiled output
/src/ngClient/dist
/src/ngClient/tmp
/src/ngClient/out-tsc
/src/ngClient/bazel-out
/src/ngClient/cache
/src/ngClient/.angular
/src/ngClient/.angular/cache

# Node
/src/ngCLient/node_modules
/src/ngCLient/npm-debug.log
/src/ngCLient/yarn-error.log

# IDEs and editors
/ngCLient/.idea/
.ngCLient/.project
.ngCLient/.classpath
.ngCLient/.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/src/.ngCLient/.vscode/*
/src/!.ngCLient/.vscode/settings.json
/src/!.ngCLient/.vscode/tasks.json
/src/!.ngCLient/.vscode/launch.json
/src/!.ngCLient/.vscode/extensions.json
/src/.ngCLient/.history/*

# Miscellaneous
/src/ngCLient/.angular/cache
/src/ngCLient/.sass-cache/
/src/ngCLient/connect.lock
/src/ngCLient/coverage
/src/ngCLient/libpeerconnection.log
/src/ngCLient/testem.log
/src/ngCLient/typings

# System files
.ngCLient/.DS_Store
.ngCLient/Thumbs.db

/src/Api/bin
/src/Api/obj
/src/Api/.vs
/src/Api/.vscode
/src/Api/.idea
/src/Api/.history
/src/Api/.vscode-test

/src/tagScraper/bin
/src/tagScraper/obj
/src/tagScraper/.vs
/src/tagScraper/.vscode
/src/tagScraper/.idea
/src/tagScraper/.history
/src/tagScraper/.vscode-tes

/src/Models/bin
/src/Models/obj
/src/Models/.vs
/src/Models/.vscode
/src/Models/.idea
/src/Models/.history
/src/Models/.vscode-tes

/src/Data/bin
/src/Data/obj
/src/Data/.vs
/src/Data/.vscode
/src/Data/.idea
/src/Data/.history
/src/Data/.vscode-tes
ngngCLient/.angular/cache/19.2.15/ngCLient/vite/deps/_metadata.json
