.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.play-header {
  text-align: center;
  margin-bottom: 30px;
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
}
.track-list-container {
  
}

.track-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.track-item {

}
.track-name {
  background:none;
  color:#f1f1f1;
  border:none;
  padding:0.5rem 0.25rem;
  display:block;
  
}
.track-info {
  .artist-name {
    font-size: 2rem;
    color: #666;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  
  .release-title {
    font-size: 1.5rem;
    color: #888;
    margin-bottom: 0;
    text-transform: capitalize;
  }
}

.album-art {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
