<app-loader *ngIf="isLoading"></app-loader>

<track-options *ngIf="showTrackOptions" [trackName]="currentTrack?.name || ''" [trackArtist]="artistToPlay.name || ''" [trackIndex]="currentTrackIndex"
    (optionSelected)="handleTrackOption($event)" [trackCover]="releaseToPlay.coverImageUrl || ''" (close)="showTrackOptions = false">
</track-options>

<div class="container" *ngIf="!isLoading">
    <div class="play-header">
        <div class="release-bg">
            <img id="release-bg-img" src="http://localhost:5051{{ releaseToPlay.coverImageUrl || '' }}"
                alt="release background">
        </div>
        <div class="release-info">
            <img class="album-art" src="http://localhost:5051{{ releaseToPlay.coverImageUrl || '' }}" alt="">
            <h2 class="artist-name">{{ artistToPlay.name || 'Unknown Artist' }}</h2>
            <h3 class="release-title">{{ releaseToPlay.title || 'Unknown Release' }}</h3>
            <div class="play-options">
                <ul class="play-options-list">
                    <li>
                        <button class="play-option" (click)="togglePlayRelease()">
                            <img [src]="isPlaying ? '/svg/icon-pause-circle.svg' : '/svg/icon-play.svg'" alt="Play">
                        </button>
                    </li>
                    <li>
                        <button class="play-option">
                            <img src="/svg/icon-share.svg" alt="Play" (click)="share()">
                        </button>
                    </li>
                    <li>
                        <button class="play-option">
                            <img [src]="releaseIsStarred ? '/svg/icon-star-shine.svg' : '/svg/icon-star-outline.svg'" alt="Play" (click)="addToStarred()">
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="track-list-container">
        <ul class="track-list">
            <li *ngFor="let track of releaseToPlay.trackNames; let i = index" class="track-item">
                <button class="track" (click)="playTrack(track, i)" [class.active]="currentTrackIndex === i">
                    <div class="track-container">
                        <div class="track-text">
                            <img class="track-album-art"
                                src="http://localhost:5051/{{ releaseToPlay.coverImageUrl || '' }}" alt="">

                            <div class="track-info">
                                <span class="track-title">{{ track }}</span>
                                <span class="track-artist">{{ artistToPlay.name }}</span>
                            </div>
                        </div>
                        <div class="track-more">
                            <button class="track-cmd" (click)="handleTrackOptionClick($event, track, i)">
                                <img src="/svg/icon-dots-vertical.svg" alt="More options">
                            </button>
                        </div>
                    </div>
                </button>
            </li>
        </ul>
    </div>

    <!-- Additional content can be added here -->
</div>