<app-loader *ngIf="isLoading"></app-loader>

<div class="container" *ngIf="!isLoading">
    <div class="play-header">
        <div class="release-info">
            <img class="album-art" src="http://localhost:5051/{{ releaseToPlay.coverImageUrl || '' }}" alt="">
            <h2 class="artist-name">{{ artistToPlay.name || 'Unknown Artist' }}</h2>
            <h3 class="release-title">{{ releaseToPlay.title || 'Unknown Release' }}</h3>
        </div>
    </div>
    <div class="track-list-container">
        <ul class="track-list">
            <li *ngFor="let track of releaseToPlay.trackUrls" class="track-item">
                <button class="track-name" (click)="playTrack(track)">{{ track }}</button>
            </li>
        </ul>
    </div>
    
    <!-- Additional content can be added here -->
</div>