<div class="container">
  <!-- Content for authenticated users -->
  <div *ngIf="authService.isAuthenticated$ | async">
    <div>
      <h3>Welcome, {{ authService.getCurrentUser()?.username }}</h3>
      <ul id="home_list" *ngIf="(authService.getCurrentUser()?.role == 'listener')">
        <li class="home-item">
          <a class="home-item-link" routerLink="/user/zackmorgenthaler/playlist/favorites"><img alt="Favorites cover"
              class="cover" src="/img/covers/starred-cover.svg">
            <h2 class="home-item-title">Favorites</h2>
          </a>
        </li>
        <li class="home-item">
          <a class="home-item-link" routerLink="/user/zackmorgenthaler/playlist/recently-played"><img
              alt="Recently Played cover" class="cover" src="/img/covers/recently-played-cover.svg">
            <h2 class="home-item-title">Recently Played</h2>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Content for users with 'Admin' role -->
  <div *ngIf="authService.getCurrentUser()?.role == 'admin'">
    <h2>Admin Dashboard</h2>
    <p>Manage users and content.</p>
  </div>

  <!-- Content for users with 'Artist' role -->
  <div *ngIf="authService.getCurrentUser()?.role == 'artist'">
    <h2>Artist Dashboard</h2>
    <br/>
    <nav id="home_nav">
      <a routerLink="/artist/releases/new" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
        <span>New Release</span>
      </a>
    </nav>
  </div>

  <!-- Content for unauthenticated users -->
  <div *ngIf="!(authService.isAuthenticated$ | async)">
    <h1 class="logo">{{title}}</h1>
    <h2>Welcome</h2>
    <p>Please enter your credentials or create an account.</p>
    <a routerLink="/login" class="btn">Login</a>
    <br />
    <a routerLink="/register" class="btn btn-secondary">Register</a>
  </div>
</div>