<div id="player" [class.show]="isShowing" *ngIf="shouldDisplay">
    <nav id="expanded_player_nav"><button id="close_player"><img alt="Close Player"
                src="/svg/icon-caret-down-circle.svg"></button><button id="share"><img alt="Share"
                src="/svg/icon-share.svg"></button><button id="more_info"><img alt="More Info"
                src="/svg/icon-dots-vertical.svg"></button></nav>
    <div id="transport">
        <div class="progress-container"><input class="progress-slider" min="0" max="100" step="0.1" type="range"
                value="0">
            <div class="progress-track">
                <div class="progress-fill" style="width: 0%;"></div>
            </div>
        </div>
    </div>
    <div id="play_bar">
        <img alt="" class="album-art-bg"
            [src]="track?.albumArt || '/img/covers/default-cover.jpg'">
        <img [src]="track?.albumArt || '/img/covers/default-cover.jpg'" alt="" class="album-art"
            (click)="togglePlayer()">
        <div id="controls">
            <div id="song">
                <div id="song_info">
                    <h3>{{ track?.title || 'No Track Selected' }}</h3>
                    <h5>{{ track?.artist || 'Unknown Artist' }}</h5>
                </div>
                <button id="favorite_button" class="" (click)="toggleStar()">
                    <img alt="Favorite"
                        [src]="trackIsStarred ? '/svg/icon-star-shine.svg' : '/svg/icon-star-outline.svg'">
                </button>
            </div>
            <div id="player_controls">
                <button id="prev_button" (click)="playerService.previousTrack()">
                    <img alt="Previous Track" src="/svg/icon-close.svg">
                </button>
                <button id="play_button" (click)="togglePlayPause()">
                    <img alt="Play" [src]="isPlaying ? '/svg/icon-pause-circle.svg' : '/svg/icon-play.svg'">
                </button>
                <button id="next_button" (click)="playerService.nextTrack()">
                    <img alt="Next Track" src="/svg/icon-next.svg">
                </button>
            </div>

        </div>
    </div>
</div>