<div id="player" [class.show]="isShowing" (click)="togglePlayer()">
    <nav id="expanded_player_nav"><button id="close_player"><img alt="Close Player"
                src="/svg/icon-caret-down-circle.svg"></button><button id="share"><img alt="Share"
                src="/svg/icon-share.svg"></button><button id="more_info"><img alt="More Info"
                src="/svg/icon-dots-vertical.svg"></button></nav>
    <div id="transport">
        <div class="progress-container"><input class="progress-slider" min="0" max="100" step="0.1" type="range"
                value="0">
            <div class="progress-track">
                <div class="progress-fill" style="width: 0%;"></div>
            </div>
        </div>
    </div>
    <div id="play_bar" >
        <img alt="" class="album-art-bg"
            src="http://localhost:5051/uploads/albumart/amiensus_reclamation_album_art.jpg"><img
            src="http://localhost:5051/uploads/albumart/amiensus_reclamation_album_art.jpg" alt="" class="album-art">
        <div id="controls">
            <div id="song">
                <div id="song_info">
                    <h3>The Distance</h3>
                    <h5>Amiensus</h5>
                </div><button id="favorite_button" class=""><img alt="Favorite"
                        src="/svg/icon-star-outline.svg"></button>
            </div>
            <div id="player_controls"><button id="prev_button"><img alt="Close Player"
                        src="/svg/icon-prev.svg"></button><button id="play_button"><img alt="Play"
                        src="/svg/icon-play.svg"></button><button id="next_button"><img alt="Close Player"
                        src="/svg/icon-next.svg"></button></div>
        </div>
    </div>
</div>