.album-art-bg {
    display: none;
}

#expanded_player_nav {
    z-index: 100;
    background: rgba(0, 0, 0, 0.25);
    /* padding: 1rem; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: none;
}

#player {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #242424;
    z-index: 10;
    .album-art {
        width: 5rem;
        height: 5rem;
        overflow: hidden;
        aspect-ratio: 1 / 1;
    }
}



#close_player,
#share,
#more_info {
    background: transparent;
    border: none;
    color: #f1f1f1;
    cursor: pointer;
    padding: 1rem;
}


#transport {
    width: 100%;
}

.progress-container {
    width: 100%;
    display: none;
}

#play_bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 0px 1rem rgba(0, 0, 0, 0.25);
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#song {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#song_info {
    padding: 1rem;
    text-align: left;

    h3 {
        margin: 0;
        font-weight: 400;
        font-size: 0.75rem;
        width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        line-height: 1rem;
    }

    h5 {
        margin: 0;
        font-weight: 300;
        color: #bfbcbc;
        font-size: 0.75rem;
    }
}

#play_button,
#favorite_button,
#prev_button,
#next_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: none;
    aspect-ratio: 1 / 1;
}

#prev_button,
#next_button {
    display: none;
}

.show {

    #prev_button,
    #next_button {
        display: initial;
    }

}

#player_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.show {
    #expanded_player_nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #play_bar {
        box-shadow: 2px 0px 1rem rgba(0, 0, 0, 0.25);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding-top: 4.5rem; */
        overflow: hidden;
    }

    .album-art-bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        z-index: -1;
        filter: blur(2rem);
    }

    .album-art {
        width: calc(100% - 2rem);
        height: auto;
        margin: 1rem 2rem;
        box-shadow: 2px 0px 1rem rgba(0, 0, 0, 0.5);
        border-radius: 2rem;
        /* transition: height 0.3s ease-in-out, width 0.3s ease-in-out; */
    }

    #controls {
        display: initial;
        overflow: hidden;
        width: calc(100% - 2rem);
        margin-right: 1rem;
        margin-left: 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    #song {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.25);
    }

    #song_info {
        text-align: left;
        width: 100%;
    }

    #player_controls {
        background: rgb(0 0 0 / 38%);
        width: 100%;
    }

    #prev_button {
        display: initial;
    }
}

#player.show {
    .album-art {
        width: auto;
        height: 21rem;
    }
}