<div class="login-container">
  <div class="login-form container">
    <a routerLink="/" class="logo">
      <h1 id="logo">BLARE</h1>
    </a>
    <h2>Log In</h2>
    <p>Please enter your credentials to access your account.</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>


      <div class="form-group">
        <div *ngIf="username?.invalid && username?.touched" class="error-message">
          <span *ngIf="username?.errors?.['required']">Username is required</span>
          <span *ngIf="username?.errors?.['minlength']">Username must be at least 3 characters</span>
        </div>
        <input class="text-input" type="text" id="username" formControlName="username"
          [class.error]="username?.invalid && username?.touched" autocomplete="true" placeholder="Username">

      </div>

      <div class="form-group">
        <div *ngIf="password?.invalid && password?.touched" class="error-message">
          <span *ngIf="password?.errors?.['required']">Password is required</span>
          <span *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters</span>
        </div>
        <input class="text-input" type="password" id="password" formControlName="password"
          [class.error]="password?.invalid && password?.touched" autocomplete="true" placeholder="Password">

      </div>

      <button type="submit" [disabled]="loginForm.invalid || isLoading" class="btn">

        <span *ngIf="isLoading">Logging in...</span>
        <span *ngIf="!isLoading">Login</span>

      </button>
    </form>
    <br />
    <a routerLink="/register" class="btn btn-secondary">Register here</a>
  </div>
</div>